.masonry-grid {
    column-count: 1;
    column-gap: 16px;
}

@media (min-width: 600px) {
    .masonry-grid {
        column-count: 2;
        column-gap: 16px;
    }
}

@media (min-width: 960px) {
    .masonry-grid {
        column-count: 3;
    }
}

.masonry-item {
    break-inside: avoid;
    margin-bottom: 16px;
}

@media (min-width: 600px) {
    .masonry-item {
        margin-bottom: 16px;
    }
}